.ckec_page_pichincha {
	.ckec_line_supplier_and_amount {
		padding-top: 30px;
		left: 0px;
	}
	/*se suman al padding de la ckec_line_supplier_and_amount y al height de la ckec_line_amount_in_words*/
	.ckec_line_amount_in_words {
		top: 30px;
		left: 0px;
		/*line-height: 100%;*/
		position: fixed;
    }
	.ckec_line_city_and_date {
		top: 30px;
		left: 10px;
		position: fixed;
    }
}

